{% include "head.html" ignore missing %}
<section class="section">
    <div class="container">
        <h1 class="is-size-3">
            Welcome! <strong>{{ login }}</strong> You are in income page.
        </h1><br>
        <!-- onsubmit="postData(this);return false;"  -->
        <div>
            <form class="field has-addons" method="post" action="/income">
                <div class="control">
                    <input name="incomeNum" list="incomeNumList" class="input" type="text"
                        placeholder="Input your income" autocomplete="off" id="incomeNum">
                    <datalist id="incomeNumList"></datalist>
                </div>
                <div class="control">
                    <button type="submit" class="button is-warning">
                        Submit
                    </button>
                </div>
            </form>
        </div><br>

        <div class="table-container">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <!-- Your table content -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Income</th>
                        <th>Time</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in incomeNum %}
                    <tr>

                        <td>{{ item.id}}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.time }}</td>
                        <td>
                            <button class="button" onclick="deleteItem('{{ item.id }}')">
                                <span class="icon is-left">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>


</section>
<script>
    async function deleteItem(id) {
        console.log("test");
        let response = await fetch(`/income/${id}`, { method: 'DELETE' });
        if (response.ok) {
            // location.reload(force);
            location.replace(location.href);
            // document.getElementById('incomeNum').value = "";
        }
    }

    // When user submit form, post the data to Backend.
    async function postData(elem) {
        let response = await fetch(elem.action, {
            method: elem.method,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams(new FormData(elem))
        });
        // console.log(response);
        if (response.ok) {
            // var data = await response.json();
            // console.log(JSON.stringify(data));
            // alert("Submit successful.");
            console.log("OK")
        } else {
            alert(response.status + " " + response.statusCode);
        }
        // await getData();

    }
</script>

{% include "tail.html" ignore missing %}