{% include "head.html" ignore missing %}
<style>
    #submitBtn2,#stockInput{display: none;}
</style>
<section class="section">
    <div class="container">
        <h1 class="is-size-3">
            Welcome! <strong>{{ login }}</strong> You are in payment page.
        </h1><br>

        <div>
            <form method="post" action="/payment">
                <div class="field has-addons">
                    <div class="control">
                        <input name="paymentNum" class="input" type="text" placeholder="Input your payment"
                            autocomplete="off">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-danger" id="submitBtn1">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control" id="stockInput">
                        <input class="input" type="text" placeholder="Stock name (e.g. AAPL)" name="stockName"
                            autocomplete="off">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-danger" id="submitBtn2">
                            Submit
                        </button>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <strong>Payment type:</strong>&nbsp
                        <label class="radio">
                            <input type="radio" name="paymentType" value="0" checked onclick="stockInputControl(0)">
                            Normal Payment
                        </label>
                        <label class="radio">
                            <input type="radio" value="1" name="paymentType" onclick="stockInputControl(1)">
                            Stock Payment
                        </label>
                    </div>
                </div>
            </form>
        </div><br>

        <div class="table-container">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Income</th>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in paymentNum %}
                    <tr>
                        <td>{{ item.id}}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.time }}</td>
                        <td><a href="#">{{ item.stock }}</a></td>
                        <td>
                            <button class="button" onclick="deleteItem('{{ item.id }}')">
                                <span class="icon is-left">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



    </div>

   
</section>
<script>
    async function deleteItem(id) {
        let response = await fetch(`/payment/${id}`, { method: 'DELETE' });
        if (response.ok) {
            // location.reload(force);
            location.replace(location.href);
            // document.getElementById('incomeNum').value = "";
        }
    }

    function stockInputControl(visible) {
            var stockInput = document.getElementById("stockInput");
            if (visible) {
                stockInput.style.display = "block";
                document.getElementById("submitBtn1").style.display = "none";
                document.getElementById("submitBtn2").style.display = "block";
            } else {
                stockInput.style.display = "none";
                document.getElementById("submitBtn1").style.display = "block";
                document.getElementById("submitBtn2").style.display = "none";
            }
        }
</script>

{% include "tail.html" ignore missing %}