{% include "head.html" ignore missing %}
<section class="section">
    <div class="container">
        <h1 class="is-size-3">
            Welcome! <strong>{{ login }}</strong> You are in payment page.
        </h1><br>

        <div>
            <form class="field has-addons" method="post" action="/payment">
                <div class="control">
                    <input name="paymentNum" list="paymentNumList" class="input" type="text" placeholder="Input your payment"
                        oninput="fetchpaymentNum(this.value)">
                    <datalist id="paymentNumList"></datalist>
                </div>
                <div class="control">
                    <button type="submit" class="button is-danger">
                        Submit
                    </button>
                    <div>
                        Payment type:
                    <label class="radio">
                        <input type="radio" name="paymentType" value="0" checked>
                        Normal Payment
                    </label>
                    <label class="radio">
                        <input type="radio" value="1" name="paymentType">
                        Stock Payment
                    </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

   
</section>
{% include "tail.html" ignore missing %}